<%= form_for([@post, @comment]) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h4> Comment: </h4>
  <div class="field">
    <%= f.label :content, class: "hidden" %><br>
    <%= f.text_area :content %>
  </div>

  <%#TODO: What is this?! Rails 3? %>
  <%# f.hidden_field :post_id, :value => params[:id] %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
