<h1>Listing comments</h1>

<table>
  <tbody>
    <% @comments.each do |comment| %>
      <% if comment.approved? %>
        <tr id="<%= dom_id(comment) %>">
          <td><%= comment.content %></td>
          <%# if policy(comment).update? %>
            <!-- <td><%# link_to 'Edit', edit_comment_path(comment) %></td> -->
          <%# end %>
          <% if policy(comment).destroy? %>
            <td><%= link_to 'Destroy', post_comment_path(@post, comment),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
        <tr>
          <%= form_for(@post, comment) do |f| %>
            <!--  This my approve check box. -->
              <% if policy(comment).approve? %>
              <%# if CommentPolicy.new(current_user, comment).approve? %>
                <div class="row collapse">
                  <div class="small-3 columns">
                    <%= f.label :approved, class: "right inline", title: "Is this comment approved?",
                        data: {tooltip: true } %>
                  </div>
                  <div class="small-9 columns">
                    <%= f.check_box :approved %>
                  </div>
                  <div class="actions">
                    <%= f.submit %>
                  </div>
                </div>
              <% end %>
            <!--#############################-->
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

