<table>
  <tbody>
    <% @comments.each do |comment| %>
    <% if comment.approved? || policy(comment).approve? %>
      <tr id="<%= dom_id(comment) %>">
        <td>
          <%= comment.content %>
        </td>
        <td>
        <% if policy(comment).update? %>
            <%= link_to 'Edit', edit_comment_path(comment) %>
        <% end %>
        </td>
        <td>
          <% if policy(comment).destroy? %>
            <%= link_to 'Destroy', [@commentable, comment],
                method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
        <td>
          <%= render partial: "comments/approve", locals: {comment: comment} %>
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>



