<%= content_for (:info_text_line_1) do %>
  <%= @project.name %>
<% end %>

<%= image_tag @project.image_url(:thumb).to_s if @project.image %>

<p id="name">
  <strong>Name:</strong> <%= @project.name %>
</p>

<p id="technologies_used"
  <strong>Technologies used:</strong> <%= @project.technologies_used %>
</p>

<div class="nav">
  <%= link_to 'Projects', projects_path %> |
  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<%= render 'comments/form' %>
<%= render 'comments/table' %>

<%= link_to 'Back to Projects Page', projects_path %>
