<%= content_for (:info_text_line_1) do %>
    <%= @project.name %>
<% end %>

<h3><%= @project.name %></h3>
<p>Technologies used: <%= @project.technologies_used %></p>
<div class="nav">
  <%= link_to 'Projects', projects_path %> |
  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
