<h2>Sign in</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.error_notification %> </div>
  <div><%= f.input :email, hint: "must be of the form user@exapmle.com", autofocus: true %></div>

  <div><%= f.input :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.input :remember_me, as: :boolean %></div>
  <% end -%>

  <div><%= f.error :base %></div>
  <div><%= f.button :submit, "Sign in" %></div>
<% end %>

<%= render "devise/shared/links" %>
