<tr id="<%= dom_id(post) %>">
  <td><%= post.title %></td>
  <td><%= post.body %></td>
  <td><%= link_to 'Show', post %></td>
  <td>
    <% if current_user && policy(post).update? %>
      <%= link_to 'Edit', edit_post_path(post) %>
    <% end %>
  </td>
  <td>
    <% if current_user && policy(post).destroy? %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
    <% end %>
  </td>
</tr>
