<p id="notice"><%= notice %></p>

<p id="title">
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p id= "body">
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p id="author">
  <strong>Authored By:</strong>
  <%= @post.author.email %>
</p>

<p id="status">
  <b>Status:</b>
  <%= @post.published? ? "Published" : "Unpublished" %>
</p>

<%= render 'comments/form' %>

<%= link_to 'Edit This Blog Post', edit_post_path(@post) %> <br>
<%= link_to 'Back To Blog Index page', posts_path %>
