<%= content_for (:info_text_line_1) do %>
    MIKE TAYLOR
<% end %>

<% content_for(:heading) do %>
  About Mike Taylor
<% end %>

<% content_for(:content) do %>
  <p>
   I am a Ruby on Rails web developer, with a background in relational data quality assurance using SQL.
  </p>
  <p>
    I hold a BS in Civil Engineering. I have experience in construction management and with GIS mapping tools.
  </p>
 <% end %>

<%= render 'layouts/after_header' %>

<!--  Main -->
<section class="main_box sections">
    <div class="row"><!-- row -->
        <div class="large-6 l column">
            <!--
            <form  id="contact" data-abide>
              <div class="name-field">
                  <label>Your name <small>required</small></label>
                  <input type="text" required pattern="[a-zA-Z]+">
                  <small class="error">Name is required and must be a string.</small>
              </div>
              <div class="email-field">
                  <label>Email <small>required</small></label>
                  <input type="email" required>
                  <small class="error">An email address is required.</small>
              </div>
              <div="message-field">
                  <label>Message</label>
                  <textarea  class="textarea" placeholder="How can I help you?"  ></textarea>
                  <br />
                  <button class="tiny" type="submit">Submit</button>
              </div>
            </form>
            -->

          <%= form_for @message, url: contact_path, html: {id: "contact"} do |f| %>
            <div class="name-field">
              <%= f.label(:name, "Your name") %>
              <%= f.text_field :name, html: {class: "name-field", required: true, pattern: "[a-zA-Z]+"} %>
            </div>
            <div class="email-field">
              <%= f.label(:email, "Email") %>
              <%= f.text_field :email, html: {class: "email-field"}, required: true %>
            </div>
            <div class="message-field">
              <%= f.label(:message, "Message") %>
              <%= f.text_area :message, html: {class: "message-field", required: true, placeholder: "How can I help you?"} %>
              <br />
              <%= f.submit "Submit", html: {class: "tiny"} %>
            </div>
          <% end %>
        </div>
    </div><!-- /.row -->
</section>
<!-- / main_box -->
