<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<!--[if IE 10]><html class="ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title><%= content_for?(:title) ? yield(:title) : "Mike Taylor : Ruby on Rails Dev" %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <%= csrf_meta_tags %>

    <meta name="description" content="This is my personal homepage.  I am a Ruby on Rails web developer and a bootcamper in the Code Fellows' Ruby on Rails bootcamp.">
    <meta name="author" content="Mike Taylor">

    <%#
      <!-- Normalize CSS -->
      <link rel="stylesheet" href="css/normalize.css">
      <!-- Foundation core CSS -->
      <link rel="stylesheet" href="css/foundation.css">
      <!-- Foundation font icons core CSS -->
      <link rel="stylesheet" href="css/foundation-icons.css">
      <!-- Custom styles for this template -->
      <link rel="stylesheet" href="css/app.css">
    %>

    <!-- Google Web Fonts CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Raleway:400,700|Rock+Salt">

    <!-- Favicons -->
    <link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/favicon/apple-touch-icon-144x144-precomposed.png">
    <!-- For iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/favicon/apple-touch-icon-114x114-precomposed.png">
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/favicon/apple-touch-icon-72x72-precomposed.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="img/favicon/apple-touch-icon-precomposed.png">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Modernizr Scripts -->
    <!-- <script src="js/modernizr.js"></script> -->
  </head>
  <body>
    <% flash.each do |key, value| %>
      <div class="alert-box round <%= flash_class(key) %>">
        <%= value %>
      </div>
    <% end %>
      <!-- masthead -->
      <header class="masthead this_is_home">
        <div class="bck">
          <div class="row">
            <nav class="top-bar" data-topbar>
              <ul class="title-area">
                <!-- Title Area -->
                <li class="name">
                  <h1>
                    <a class="logo" href="./index.html">
                      <%= image_tag ("logo.png") %>
                    </a>
                  </h1>
                </li>
                <li class="toggle-topbar menu-icon">
                  <a href="#">
                    <span>Menu</span>
                  </a>
                </li>
              </ul><!-- /.title-area -->

              <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                  <li class="active"><a href="index.html">Home</a></li>
                  <li><i class="icon_divider  fi-asterisk size-12"></i></li>
                  <li><a href="about.html">About Us</a></li>
                  <li><i class="icon_divider  fi-asterisk size-12"></i></li>
                  <li><a href="services.html">Services</a></li>
                  <li><i class="icon_divider  fi-asterisk size-12"></i></li>
                  <li><a href="portfolio.html">Projects</a></li>
                  <li><i class="icon_divider  fi-asterisk size-12"></i></li>
                  <li><a href="contact.html">Contact</a></li>
                </ul><!-- /.right -->
              </section><!-- /.top-bar-section -->
            </nav> <!-- /.top-bar -->
          </div><!-- /.row -->
        </div><!-- /.bck -->

        <!-- Info -->
        <section class="info">
            <h1 class="info_text">MINIMAL</h1>
            <h2 class="info_text">DESIGN</h2>
        </section><!-- / .Info -->

          <!-- .share icons -->
        <section class="share_icons">
            <ul>
                <li><a href="#"><i class="fi-social-facebook size-36"></i></a></li>
                <li><a href="#"><i class="fi-social-twitter size-36"></i></a></li>
                <li><a href="#"><i class="fi-social-youtube size-36"></i></a></li>
                <li><a href="#"><i class="fi-social-instagram size-36"></i></a></li>
            </ul>
        </section><!-- / .share icons -->
      </header><!-- /.masthead -->
    <%= yield %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </body>
</html>
